
##PYTHON Tutorial##
#what is python?

it's popular high level programming languages was created by Guido van Rossum and release in 1991.python is the interpreter language.


#What is interpreter language?

Interpreter language was excute the program line by line. But compiler language was compiled the whole program and executing.


#uses
Web development,software development, ML, AI,easy to use

In [ ]:
# python syntax
print("welcome")


#version
import sys
print(sys.version)

welcome
3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

#Indentation

In Python indentation was used to indigate block of code

In [ ]:
a = 1
if a < 2:
  print("yes")

yes


## Command Line

Single line command - #

Multi Line command  - "' '"

## Variables

Variables was used for assigning values
Python has no command for declating variable.

Variables are case sensitive

In [ ]:
a = "Karunai Kadale Kantha Porti"
print(a)
#casting also done in python
b = int(10)
# case sensitive also

# multi variable assigning
x, y, z = 1 , 2, 3
print (x)
# one value to multiple
a1 = b1 = "Muruga"
print ( b1)
# unpack collection
Fruits = [ "apple", "Bannana", "orange"]
x, y, z = Fruits
print(x)

Karunai Kadale Kantha Porti
1
Muruga
apple

## Global variable
used for use the variable entire program

In [ ]:
# without using global keyword

x1 = "sss"
def sprint():
  print(x1)
sprint()

#if use the variable is same like used out side of the function. Inside the function it will be overwrite
x1 = "sss"
def sprint():
  x1 = "hello"
  print(x1)
sprint()

# using global keyword
def sprint2():
   global yzz
   yzz = "jss"
   print(yzz)

sprint2()

print(yzz)

sss
hello
jss
jss

## Time Complexity & Space Complexity

# 1) What is Time Complexity?
Time complexity measures the amount of time an algorithm takes to complete as a function of the size of its input. It is the relationship of time groups according to the input group.

# Big notation
1) Big O notation - Worst case (or) Upper Bound

2) omega notation - best case (or) Lower Bound

3) Theta notation - average case (or) both upper and lower

##Example:

ex_list = [1,2,3,4,5]

# Worst case
Program accessing maximum number of input size. For example above the list searching number 5 is present in the list. It finded the number as maximum length of the list which means it was find the 5 as 4 element of the list. This is called worst case. 0(n)

# Best case
Program accessing minimum number of the input size. For example above the list find the number 1 was presented in list it was accessing 1 elelment of the list. That was called best case. 0(1)

# Average Case
It is simply like (worst case+ best case) /2 = mid


##Common Time complexcities in

###1) o(1) - Constant
An algorithm is said to have a constant time when it is not dependent on the input data.

In [ ]:
input1 = [1,2,3,4,5]
print(input1[0])

# above this code we accessing the 0th element in the list.so it accessing 0th element in the list. Does not accessing another elements.

1

##2) o(Log N) - Logarithamic

One of the fastest types of algorithm has a time complexity of O(log n).An algorithm is said to have a logarithmic time complexity when it reduces the size of the input data in each step. Most of divide and conquer methods use this complexcity.

Mid = best + worst /2

In [ ]:
def binarySearch(lst, x):
    low = 0
    high = len(lst)-1
    # Repeat until the pointers low and high meet each other
    while low <= high:
        mid = low + (high - low)//2
        if lst[mid] == x:
            return mid
        elif lst[mid] < x:
            low = mid + 1
        else:
            high = mid - 1
    return -1

lst = [1,2,3,4,5,6,7,8,9]
x = 7

print(binarySearch(lst, x))

6

# 3) o(√n) - square root

It indicates that the algorithm's runtime grows proportionally to the square root of the input size.

In [ ]:
n = 10  # Example value for n
i = 1
while i * i <= n:
    # Perform any operation here
    print(i)  # For demonstration, print the current value of i
    i += 1

1
2
3

# 4) o(n) - Linear

Algorithms with linear time complexity have their runtime linearly proportional to the size of the input.

In [ ]:
lst = [1, 2, 3, 4, 5]

for i in lst:
    print(i)

1
2
3
4
5

# 5) o(n logn) - Quasilinear Time Complexity
A time complexity where an algorithm’s runtime grows proportionally to 𝑛 times the logarithm of n.Often occurs in divide-and-conquer algorithms, where data is split, processed in smaller parts, and then merged. The log 𝑛 factor comes from dividing the data, while n represents processing each element.

In [ ]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr  # Base case for recursion

    # Divide the array into two halves
    mid = len(arr) // 2
    left_half = merge_sort(arr[:mid])
    right_half = merge_sort(arr[mid:])

    # Merge the sorted halves
    return merge(left_half, right_half)

def merge(left, right):
    sorted_arr = []
    i = j = 0

    # Merge elements from both halves in sorted order
    while i < len(left) and j < len(right):
        if left[i] < right[j]:
            sorted_arr.append(left[i])
            i += 1
        else:
            sorted_arr.append(right[j])
            j += 1

    # Append remaining elements (if any)
    sorted_arr.extend(left[i:])
    sorted_arr.extend(right[j:])
    return sorted_arr

# Example usage
arr = [38, 27, 43, 3, 9, 82, 10]
sorted_arr = merge_sort(arr)
print("Sorted array:", sorted_arr)

Sorted array: [3, 9, 10, 27, 38, 43, 82]

# 6) O(n²) — Quadratic Time

When a second loop is added inside the first one, it doesn’t simply run twice. Instead, it runs n * n times.

In [ ]:

data = 'hi'
for x in data:
    for y in data:
        print(x, y)

h h
h i
i h
i i

# 7) o(n^3) - Qubic
This means that the runtime of an algorithm grows in proportion to the cube of the input size n.
This usually happens when three nested loops are required to solve a problem, with each loop iterating over n items.

In [ ]:
def print_triplets(arr):
    n = len(arr)
    for i in range(n):  # First element
        for j in range(i + 1, n):  # Second element
            for k in range(j + 1, n):  # Third element
                print(arr[i], arr[j], arr[k])

# Example usage
arr = [1, 2, 3, 4]
print_triplets(arr)

1 2 3
1 2 4
1 3 4
2 3 4

# 8) o (2^n) - Exponential

Exponential time complexity means that the algorithm's runtime doubles with each increase in input size n. Often seen in problems where each step creates two new possibilities, like recursive calculations.

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
print(fibonacci(5))  # Output: 5

5

# 9) o(n!) - Factorial

Exponential time complexity means that the algorithm's runtime doubles with each increase in input size n.

In [ ]:
def generate_permutations(arr, perm=[]):
    if len(arr) == 0:
        print(perm)  # Print each permutation
    else:
        for i in range(len(arr)):
            generate_permutations(arr[:i] + arr[i+1:], perm + [arr[i]])

# Example usage
arr = [1, 2, 3]
generate_permutations(arr)

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

# Space Complexity

## What is Space Complexity?

Space complexity is used to measure the growth trend of the memory space occupied by an algorithm as the amount of data increases. Analyzing the space complexity of an algorithm, there are two primary components to consider:

### 1) input space - This is the space needed to store the input data

### 2) Auxiliary Space - This is the extra space or temporary space used by an algorithm.


## common Big o space complexity.

## o(1) - Constant

The algorithm uses a fixed amount of memory regardless of the input size.

In [ ]:
def add_two_numbers(a, b):
    result = a + b
    return result

## Logarithmic Space — O(logn)

The algorithm's memory usage grows logarithmically with the input size.This is common in algorithms that use recursion on only half the data, like binary search.

In [ ]:

def binary_search(arr, target, left, right):
    if left > right:
        return -1
    mid = (left + right) // 2
    if arr[mid] == target:
        return mid
    elif arr[mid] < target:
        return binary_search(arr, target, mid + 1, right)
    else:
        return binary_search(arr, target, left, mid - 1)

# Example usage
arr = [1, 2, 3, 4, 5, 6, 7]
print(binary_search(arr, 5, 0, len(arr) - 1))  # Output: 4

4

## 3) Linear Space — O(n)

Memory usage grows linearly with the input size. This is typical when using arrays, lists, or recursion that holds all items in memory.

In [ ]:
def squares(n):
    result = []
    for i in range(n):
        result.append(i * i)
    return result

# Example usage
print(squares(5))  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

## 4) Linearithmic Space — O(nlogn)

This complexity is common in algorithms like merge sort that require temporary storage proportional to nlogn. Example: Merge sort (splits the data recursively and requires temporary space for merging).

In [ ]:
def merge_sort(arr):
    if len(arr) <= 1:
        return arr
    mid = len(arr) // 2
    left = merge_sort(arr[:mid])
    right = merge_sort(arr[mid:])
    return merge(left, right)

def merge(left, right):
    result = []
    while left and right:
        if left[0] < right[0]:
            result.append(left.pop(0))
        else:
            result.append(right.pop(0))
    result.extend(left or right)
    return result

# Example usage
arr = [3, 1, 4, 1, 5]
print(merge_sort(arr))  # Output: [1, 1, 3, 4, 5]

[1, 1, 3, 4, 5]

## 5) Quadratic Space — O(n^2)

Memory usage grows as the square of the input size, often in algorithms that store information about every possible pair or in matrices.
Example: Creating a 2D array (matrix) of size
n×n.

In [ ]:
def create_matrix(n):
    matrix = [[0] * n for _ in range(n)]
    return matrix

# Example usage
print(create_matrix(3))
# Output: [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

## 6) Exponential Space — O(2^n)

Memory usage doubles with each additional input, seen in some recursive algorithms with extensive branching, like the naive recursive approach to the Fibonacci sequence.
Example: Calculating Fibonacci numbers without memoization.

In [ ]:

def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
print(fibonacci(5))

5

## 7) Factorial Space — O(n!)

Memory usage grows as n! (factorial of n), seen in problems like generating all permutations.

In [ ]:
def generate_permutations(arr, perm=[]):
    if len(arr) == 0:
        print(perm)  # Print each permutation
    else:
        for i in range(len(arr)):
            # Choose the current element, remove it from arr, and add it to perm
            generate_permutations(arr[:i] + arr[i+1:], perm + [arr[i]])

# Example usage
generate_permutations([1, 2, 3])

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

### In Time and Space Complexity we choose worst case

# Data Types

Data type is the type of data

### In python data types are

1) Numeric - int, float, conplex

2) Text    - string

3) sequence - List, Tuple

4) set type - Set, Frozen set

5) boolean - bool

To find out the type of the data using type().

In [ ]:
a = 10
print(type(a))

<class 'int'>

# 1) Numeric

## int
int or integer represent the whole positive and negative number without decimal.

Time - o(1) for basic operations. But o(n*m) for multiplication

Space - o(1) for small but for arbiatary precion o(n) for large. meaning they can grow in size as needed, unlike many languages that have fixed-precision integers.

## float
Float represent the positive and negative value with containing one or more decimal point. Also represent scientific numbers

Time - o(1)

Space - o(1)

## complex
Complex numbers are written with a "j" as the imaginary part.if to convert the the one numeric datatype to another using casting. But cannot convert complex to another type

Time - o(1)

Space - o(1)

In [ ]:
# int
a, b = 10,-12
print(a)
print(b)
print(type(a))

# float
a1 = 13.99
b1 = -18.1
print(type(b1))
c1 = 35e5
print(type(c1))

# complex
x = 5+4j
print(type(x))

# conversion
print(type(int(c1)))

10
-12
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'int'>

# 2) Text

## String

String is the sequence of characters.it surrounded by '' Or "". And string common Time and space complexity is o(n).

In [ ]:
print("python")
a = 'python3'
a1 = 'python '
print(a)
# multi line string

b = """hi wkwjkskskskansbsvagabshaansjaja
Hahajajajajajajansbshsjsjsj
Hajajajajajajakakakaka """

print(b)

#---------------------------------------

# accessing character in string. String are array

print(a[0])# Time and space Complexity of(1)
print(a[-2]) # negative indexing

#----------------------------------------

# Accessing charcter through loop - o(n)

for x in a:
   print(x)
#-----------------------------------------

# Searching char in string - Time-o(m*n), Space=0(1)
# using membership operators

if 'o' in a:
  print("yes")

if 'o' not in a:
  print("no")
else:
  print("yes")
#------------------------------------------

# length - time =o(1), space=o(1)
print(len(b))

#-------------------------------------------

# Slicing String - time=o(k), space=o(k) it's like o(n)
# a[start:end]
print(a[2:5])
print(a[:5]) # did not mention start value. It assign first index
print(a[2:]) # same like vice versa of end position
print(a[-1:-3]) # negative indexing

#--------------------------------------------
# String Modification
# Time - o(n), space - o(n)
print(a.upper())
print(a.lower())
print(a.capitalize())
#--------------------------------------------
# Remove white space method
# Time & Space = o(n)
print(a1.strip())
#------------------------------------------
# Replace String
# Time = o(m*n), Space = o(n)
print(a.replace('p', 'C'))
#------------------------------------------
# Split the string
# Time = o(n), space=o(n)
print("hello hi".split(" "))
#------------------------------------------
# String Concatination
# Time = o(m+n), Space =o(m+n)
print("jumbalaka"+"Jumbalaka")
#------------------------------------------
# String Formation
age = 30
print("varun age was", age)
#Fstring
print(f"His age was {age}")
print(f"his age was {age*2}")
#------------------------------------------
# String Escape
# single quotes
print("hi\'s")
print("hello \\ hi") #backslash
print("hello\nnanba") # newline
print("raja\traja") # tab
print("ahahan yennathu \bithu") # backspace

python
python3
hi wkwjkskskskansbsvagabshaansjaja
Hahajajajajajajansbshsjsjsj
Hajajajajajajakakakaka
p
n
p
y
t
h
o
n
3
yes
yes
86
tho
pytho
thon3

PYTHON3
python3
Python3
python
Cython3
['hello', 'hi']
jumbalakaJumbalaka
varun age was 30
His age was 30
his age was 60
hi's
hello \ hi
hello
nanba
raja	raja
ahahan yennathu ithu

# String Methods and their Complexity

In [ ]:

text = "chappuni suppuni manguni"
#------------------------------------------
# capitalize - convert the string 1st leterr capital
# syn - str.capitalize()
# Time = o(n), Space = o(n)
print(text.capitalize())
#------------------------------------------
# Casefold, lower- convert the string into lower Same like lower
# syn - str.casefold() or lower()
# Time - o(n), space = o(n)
print(text.casefold())
#------------------------------------------
# center - align the string in center.
# syn - str. Center(length, chat)
# Time = o(n), space = o(n)
print(text.center(70))
print(text.center(60, 'i'))
#------------------------------------------
# count - count the values how many times presented in the string
# syn - str. Count(value)
# Time - o(n*m) , space -o(1)
print(text.count('pp'))
#------------------------------------------
# encode - return the encoded version
# syn - str. encode(encoding, error) - if not mention the encode it defaulty take utf-8
# Time - o(n), space = o(n)
print(text.encode("utf-8"))
# same like decode method also
# syn - str. decode("utf-8"))
#------------------------------------------
# endswith - check if the strong endswith the values
# syn - str.endswith(value)
# Time = o(n), space = o(n)
print(text.endswith("i"))
# startswith - check the string start with value
# syn - str.startswith(value)
# Time = o(n), space = o(n)
print(text.startswith("c"))
#------------------------------------------
# expandtabs - set the tab size of the string
txt = "H\te\tl\tl\to"
x =  txt.expandtabs(2)
print(x)
#------------------------------------------
# find - check the value position in the string
# syn - str.find(value)
# Time = o(n*m), Space = o(1)
print(text.find("h"))
#------------------------------------------
# format - format the specific value in the string
# syn - str. format(v1, v2)
print("{name} age was {age}".format(name="swami", age=30))
# -----------------------------------------
# index - find the specified value index in the string
# syn - str.index(val,start,end)
# Time = o(n*m), space= o(1)
print(text.index("s"))
print(text.index("p", 0,10))
# rindex - find the value in string backward indexing
print(text.rindex("p"))
#------------------------------------------
# isalnum - check the string alpha numeric
# syn - str.isalnum()
# Time - o(n), Space = o(1)
print(text.isalnum())
#-----------------------------------------
# isalpha - chech the string is alphabet
# syn - str. isalpha()
# Time - o(n), Space = o(1)
print(text.isalpha())
#-----------------------------------------
# isascii - check that string have ascii values
# syn - str.isascii()
# Time - o(n), space = o(1)
print (text.isascii())
# ----------------------------------------
# isdigit - check the string is digit
# syn - str.isdigit()
# Time - o(n), space = o(1)
print(text.isdigit())
#-----------------------------------------
# isdecimal - check the string is decimal
# syn - str. isdecimal()
# Time - o(n), space = o(1)
print(text.isdecimal())
#-----------------------------------------
# isidentifier - check the string is identifier
# syn - str. Isidentifier()
# Time - o(n) space = o(1)
print(text.isidentifier())
#------------------------------------------
# islower - check the string is lower case
# isupper - check the string is upper case
# isnumeric - check the string is numeric format
# isprintable - check the string is printable
# isspace - check the string has space
# istitle - check the string have follow titles rules

# all have time = o(n), space - o(1)
print(text.islower())
print(text.isupper())
print(text.isnumeric())
print(text.isprintable())
print(text.isspace())
print(text.istitle())
#------------------------------------------
# join - it take all item in iteratable into one string
# syn - str.join(iteratblr)
# time = o(n), space = o(n)
print(" ".join(["chappuni", "suppuni", "manguni"]))
#-------------------------------------------
# ljust - return the left justifed version of string
# rjust - return the right justified version of string
# time - o(n) space o(n)
print(text.ljust(20) + " Na rasapa ivan rajesh ivan sankaruh")
print(text.rjust(30))
#------------------------------------------
# strip - trim the string
# lstrip - trim the left side string
# rstrip - trim the right side string
# syn - str.strip(val)
print(" ,* Hello".strip(" ,*"))
print("   Hey beema kalaku beema".lstrip())
print("Hey beema kalaku beema *,.....".rstrip(" *,."))

# time = o(n), space = o(n)

#------------------------------------------
# split - split the string by the value into list
# syn - str.split(val)
# time - o(n), Space - o(n)
print(text.split())
# splitlines - split the string into list each line is a element
print("chappuni\nsuppuni".splitlines(True))
# True include the linebreak also
#------------------------------------------
# partition - split the string into tuple in three parts
# syn - str.partition(value)
# time = o(n), space = o(n)
print("hello world bhaiya".partition("world"))
print("kjmirunga bhai".partition("bhai"))
#------------------------------------------
# replace - replace value in the string
# syn - str.replace(old, new)
# time = o(n*m), space = o(n)
print("jumbalaka".replace("j", "k"))
#------------------------------------------
# swapcase - swapping the cases of the string lower and upper vise versa
# syn= str. swapcase()
# time = o(n), space = o(n)
print("HELLO KANTHSAMYY".swapcase())
#-------------------------------------------
# zfill = The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length
# syn = str.zfill(10)
# time = o(n), space = o(n)
print("hi".zfill(50))
#------------------------------------------
# translate & maketrans
# maketrans is used to create translation table

tbl = str.maketrans("abc","123")
# translate useed to translate values are mapping to the table
print("abcxyz".translate(tbl))

# time - o(n)
# space - o(m)
#------------------------------------------
# reverse - reverse the string
# time - o(n), space- o(n)
print(text[::-1])

Chappuni suppuni manguni
chappuni suppuni manguni
                       chappuni suppuni manguni
iiiiiiiiiiiiiiiiiichappuni suppuni manguniiiiiiiiiiiiiiiiiii
2
b'chappuni suppuni manguni'
True
True
H e l l o
1
swami age was 30
9
3
12
False
False
True
False
False
False
True
False
False
True
False
False
chappuni suppuni manguni
chappuni suppuni manguni Na rasapa ivan rajesh ivan sankaruh
      chappuni suppuni manguni
Hello
Hey beema kalaku beema
Hey beema kalaku beema
['chappuni', 'suppuni', 'manguni']
['chappuni\n', 'suppuni']
('hello ', 'world', ' bhaiya')
('kjmirunga ', 'bhai', '')
kumbalaka
hello kanthsamyy
000000000000000000000000000000000000000000000000hi
123xyz
inugnam inuppus inuppahc

# Boolean

Represent two values

## 1) True
## 2) False

In [ ]:
if (5<6) :
   print(True)
else:
   print(False)

True

# Operators

Operators are used to perform operations.

1) Arithmetic operators

2) Assignment operators

3) comparison operators

4) Logical operators

5) identify operators

6) membership operators

7) Bitwise operators

In [ ]:

# Arithmetic operators - perform arithmetic operations
print(3+5) # addition
print(5-2) # substraction
print(2*9) # multilpy
print(18/2) # division
print(5 % 2) # modules
print(20**2) # exponential
print(20//2) # floor division

#------------------------------------------
# Assignment Operators - perform assigning process
a=5
print(a)

x = 3
x += 1
print(x)

x -=1
print(x)

x *=2
print(x)

x /= 3
print(x)

x%=2
print(x)

x **= 3
print(x)

x//= 4
print(x)

x = 5

x &= 1
print(x)

x|=1
print(x)

x^=1
print(x)

x<<=1
print(x)

x>>=1
print(x)
#------------------------------------------
# Comparison Operators - perform comparison
print(2==2) # equal to
print(2!=1) # not equal
print(2<3)  # less then
print(2<=2) # less then or equal to
print(2>4) # greater than
print(2>=5) # greater than Or equal
#------------------------------------------
# logical operators
x = 5

# And - both are true
if x < 6 and x == 5:
   print(True)

# or - if any one is true
if x>6 or x == 5:
   print(True)

# not - reverse the result
if not(x == 5):
   print(True)
else:
   print(False)
#------------------------------------------
# identify operators - compare to same object
name = "jacky"
f_nam= "jacky"
b = name
print(name is b)
print(name is not b)
#------------------------------------------
# membership operators
# in
if 1 in [1,2,3,4]:
   print(True)

# not in
if 10 not in [1,2,3,4]:
   print(True)

#------------------------------------------
# bitwise - perform bit level operation

b1 = 5
b2 = 3

print(b1&b2)
print(b1|b2)
print(b1^b2)
print(~b2)
print(b1<<b2)
print(b1>>b2)

8
3
18
9.0
1
400
10
5
4
3
6
2.0
0.0
0.0
0.0
1
1
0
0
0
True
True
True
True
False
False
True
True
False
True
False
True
True
1
7
6
-4
40
0

# List

List is mutable ordered sequence item. It can store multiple data type like str, numeric etc.It allows duplicate also.

Syntax
_______
my_list = []


Time Complexity - o(n)

Space Complexity - o(n)


List items are indexed. That index are start with 0. If we accessing reverse using negative indexing which means it starts -1.

In [ ]:

my_list = ['a','e', 'i', 'o', 'u']

# length of list
# time = o(1), space = o(n)
print(len(my_list))
#-----------------------
# we can use multiple data type in the list
list1 = [1, 0.1,'hi', (1, 2,3), {"a":"swami"}]
print(list1)
#-----------------------
# create list using list constructor.
lis1 = list()
print(type(lis1))
#------------------------
# Accessing element in the list
# To accessing the element in the list we use index
# syn - list[index]
# Time - o(1), Space - o(1)
print(my_list[0])

# negative indexing
print(my_list[-1])

# range indexing - which range to which range elements
# Time = o(k), Space o(k)
print(my_list[2:4])
# negative range indexing
print(my_list[-4:-1])
print(my_list[1:])
print(my_list[:-1])
print(my_list[::-1]) # it also using reverse
#--------------------------
# check the item is available using memebership op
print('a' in my_list)
#--------------------------
# change list items - using index
# time - o(1), space - o(1)
my_list[1] = 'd'
print(my_list)
# change range indexing
# time - o(k), space - o(k)
my_list[2:4] = ['s', 't']
print(my_list)
my_list[1:3] = ['q', 'f']
print(my_list)
my_list[1:2] = ['r', 'x'] # between no charcter accessing  mentioned end index and add new one
print(my_list)
#----------------------------
# insert elements - insert new element in which position we want
# syn - list.insert(index, element)
# Time - o(n), space - o(n)
my_list.insert(1, "hello")
print(my_list)
#------------------------------
# add item in list using append
# syn - list.append(element)
# Time - o(1), space - o(1)
my_list.append(" Vettaiyan")
print(my_list)
#-------------------------------
# Extend - to adding the iterable datatype to extending the list
# syn - list.extend(element)
# Time - o(k), Space - o(k)
my_list.extend((1, 2))
my_list.extend({"s":"1"})
print(my_list)
#-------------------------------
# remove items
# syn - list.remove(item)
# time - o(n), space - o(n)
# If more than one item remove() choose first occurred
my_list.remove("s")
print(my_list)

# remove specific index
# using pop method
# syn - list.pop(index)
# Time - o(n), space - o(n)
my_list.pop(0)
print(my_list)

# pop usually remove the last index in the list
my_list.pop()
print(my_list)

my_list.pop(-1) # negative indexing
print(my_list)

# using del
# syn - del list[index]
# Time - o(n), space - o(n)
del my_list[1]
print(my_list)

del my_list[-1]
print(my_list)

del my_list[-3:-1]
print(my_list)

# del using delete full list
# time - o(n), space = o(1)
del my_list

# clear the list
# syn - list.clear()
# time - o(n), space - o(1)
list1.clear()
print(list1)
#------------------------------------------
# loop list - through loop item using for & while
list_2 = [1,2,3,4,5]
# for loop
for i in list_2:
    print(i)
# for loop using length and range
for i in range(len(list_2)):
    print(list_2[i])
# while loop
i = 0
while i < len(list_2):
     print(list_2[i])
     i += 1

#------------------------------------------
# list comprehenaion - an easy to read, compact,
# and elegant way of creating a list from any existing iterable object
# syn - newlist = [expression for item in iterable condition]
# Time - o(n), space - o(n)
Ex_list = [10,15,16,18,20,27,29,36,42,40,50,60]

new_list = [Ex_list[i] for i in range(len(Ex_list)) if Ex_list[i]> 20]
print(new_list)

# nested list
# time = o(n**2) if same time run the loop
# o(n*m) = different time each loop
# space - o(n)

new_lis = [ x*y for x in Ex_list for y in Ex_list]
print(new_lis)
#------------------------------------------
# sort list - sort method is used to sort the values in the list
# syn - list.sort(), in this method "reverse = True" is used to descending order
# Time - o(n logn) , space = o(1)
Ex_list.sort()
print(Ex_list)

# descending
Ex_list.sort(reverse = True)
print(Ex_list)

# case sensitive. First capital letters first and lower next
#-----------------------------------------
# reverse the list
# time - o(n), space - o(n)
Ex_list.reverse()
print(Ex_list)
#-----------------------------------------
# copy the list
# using copy method
# time - o(n), space - o(n)
my_1 = Ex_list.copy()
print(my_1)

#use list method
my_2 = list(Ex_list)
print(my_2)

#using slice operator
my_3 = Ex_list[:]
print(my_3)
#-----------------------------------------
# join list
# time - o(n+m), space = o(n)

print(my_1+my_2)

# using Extend method
my_1.extend(my_2)
print(my_1)
#-----------------------------------------
# accessing element in nested list
a = [[1, 2, 3] , [4, 5,6],{'a':'hello'}]
print(a[0][1])

# accesiing dict element in list
print(a[2]['a'])
#-----------------------------------------
# count - counting the value how many times occurred
# syn - list.count(element)
# Time - o(n), Space - o(1)
print([1,2,3,4,5,1,2].count(1))
#------------------------------------------
# max - maximum, time-o(n) , space - o(1)
print(max([1,2,3,4,5,1,2]))

# min - minimum, time-o(n) , space - o(1)
print(min([1,2,3,4,5,1,2]))

# sum - sum, time-o(n) , space - o(1)
print(sum([1,2,3,4,5,1,2]))
#------------------------------------------
# zip - combine multiple element into tuple
# time - o(k), space - o(k)
li1 = [1,2,3,4,5,6,0]
li2 = [2,4,5,6,7,8]
li3 = ['s','a', 'b ']
new = list(zip(li1, li2, li3))
print (new)
#------------------------------
# enumerate - return the element with their index
# time - o(n), space - o(1)
print(list(enumerate(li1)))
#------------------------------
# map - map is connect each element into the function
# time - o(n), space - o(1)
slist = list(map(lambda x:x**2, li1))
print(slist)
#------------------------------
# filter - filter the element which function return true
# time - o(n), space - o(k)
s2 = list(filter(lambda x:x%2 == 0, li1))
print(s2)
#-------------------------------
# all - return if all true
# any - return if any one true
print(all(li1))
print(any(li1))

5
[1, 0.1, 'hi', (1, 2, 3), {'a': 'swami'}]
<class 'list'>
a
u
['i', 'o']
['e', 'i', 'o']
['e', 'i', 'o', 'u']
['a', 'e', 'i', 'o']
['u', 'o', 'i', 'e', 'a']
True
['a', 'd', 'i', 'o', 'u']
['a', 'd', 's', 't', 'u']
['a', 'q', 'f', 't', 'u']
['a', 'r', 'x', 'f', 't', 'u']
['a', 'hello', 'r', 'x', 'f', 't', 'u']
['a', 'hello', 'r', 'x', 'f', 't', 'u', ' Vettaiyan']
['a', 'hello', 'r', 'x', 'f', 't', 'u', ' Vettaiyan', 1, 2, 's']
['a', 'hello', 'r', 'x', 'f', 't', 'u', ' Vettaiyan', 1, 2]
['hello', 'r', 'x', 'f', 't', 'u', ' Vettaiyan', 1, 2]
['hello', 'r', 'x', 'f', 't', 'u', ' Vettaiyan', 1]
['hello', 'r', 'x', 'f', 't', 'u', ' Vettaiyan']
['hello', 'x', 'f', 't', 'u', ' Vettaiyan']
['hello', 'x', 'f', 't', 'u']
['hello', 'x', 'u']
[]
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
[27, 29, 36, 42, 40, 50, 60]
[100, 150, 160, 180, 200, 270, 290, 360, 420, 400, 500, 600, 150, 225, 240, 270, 300, 405, 435, 540, 630, 600, 750, 900, 160, 240, 256, 288, 320, 432, 464, 576, 672, 640, 800, 960, 180, 270, 288, 324, 360, 486, 522, 648, 756, 720, 900, 1080, 200, 300, 320, 360, 400, 540, 580, 720, 840, 800, 1000, 1200, 270, 405, 432, 486, 540, 729, 783, 972, 1134, 1080, 1350, 1620, 290, 435, 464, 522, 580, 783, 841, 1044, 1218, 1160, 1450, 1740, 360, 540, 576, 648, 720, 972, 1044, 1296, 1512, 1440, 1800, 2160, 420, 630, 672, 756, 840, 1134, 1218, 1512, 1764, 1680, 2100, 2520, 400, 600, 640, 720, 800, 1080, 1160, 1440, 1680, 1600, 2000, 2400, 500, 750, 800, 900, 1000, 1350, 1450, 1800, 2100, 2000, 2500, 3000, 600, 900, 960, 1080, 1200, 1620, 1740, 2160, 2520, 2400, 3000, 3600]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
[60, 50, 42, 40, 36, 29, 27, 20, 18, 16, 15, 10]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60, 10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
[10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60, 10, 15, 16, 18, 20, 27, 29, 36, 40, 42, 50, 60]
2
hello
2
5
1
18
[(1, 2, 's'), (2, 4, 'a'), (3, 5, 'b ')]
[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 0)]
[1, 4, 9, 16, 25, 36, 0]
[2, 4, 6, 0]
False
True

# Tuple

Tuple is the one of the built-in collection. It is ordered, and unchangeable.It can store the different data types. Once it's created we cannot modified. It also allowed duplicate values.

Time complexity - o(n), space complexity - o(n)

In [ ]:


tup = (1,2,3,4,5)
print(type(tup))
#-----------------
# using tuple() constructor
tup1 = tuple((1,2,3,4))
print(tup1)
#-----------------
# len() - find the length
# time - o(1), space- o(n)
print(len(tup))
#-----------------
# accessing elements. It also start 0 index
# time - o(1), space = o(1)
print(tup[1])
# negative indexing
print(tup[-1])
# range indexing
#time - o(k), space - o(k)
print(tup[2:4])
print(tup[-4:-1])
#------------------
# check if it is available
print(2 in tup)
#-------------------
# update tuple
# tuple once created value does not change. To convert list and change it
x = list(tup)
x[0] = 2
x.append(5) # append method
tup = tuple(x)
print(tup)
# add tuple to tuple
# Time - o(n+m), space - o(n)
print(tup+tup1)

# delete
del tup1
#--------------
# count - count values occured
# time - o(k) , space - o(1)
print(tup.count(2))
# index
print(tup.index(2))
#---------------
# unpack
a,b,c = (1,2,3)
print(a)
# using * for less variable for more values
a,b,*c = tup
print(*c)
#-------------+--
#join tuple
tup1 = tup+tup
print(tup1)
tup2 = tup*3
print(tup2)
#-----------------

<class 'tuple'>
(1, 2, 3, 4)
5
2
5
(3, 4)
(2, 3, 4)
True
(2, 2, 3, 4, 5, 5)
(2, 2, 3, 4, 5, 5, 1, 2, 3, 4)
2
0
1
3 4 5 5
(2, 2, 3, 4, 5, 5, 2, 2, 3, 4, 5, 5)
(2, 2, 3, 4, 5, 5, 2, 2, 3, 4, 5, 5, 2, 2, 3, 4, 5, 5)

# Set

Set is the one of the collection. It unordered,unchangeble ( which means once element we did not changed. But we can remove the element and add new).does not allow duplicate values.

Set are written by curly bracket.

In set True and 1 is same. False and 0 is same.

In [ ]:
a = {1,2,3}
print(a)
print(type(a))
# length - time o(1), space - o(n)
print(len(a))
# set constructer
# create the set constructer
b = set(([1,2,3,4,]))
print(b)
# set does not contain list, dict values only str, int, tuple
#---------------------&
# accessing the element. We cannot access the set element using index or key value using through loop only to access the element
c = 1
if c in a:
   print("yes")
# time - o(n), space - o(n)
#---------------------------
#add element - time - o(1), space - o(n)
a.add(4)
print(a)
# add item in the set to another set
# update - time -o(n+m) , space - o(n+m)
a.update({5,6,7,8})
print(a)
# add any iterable into the set
a.update({'name':'om'})
print(a)
#-----------------------------
# remove items
# using remove - time - o(n), space - o(1)
a.remove(5)
print(a)
# using discard - time -o(n), space -o(1)
# if remove number does not exist it not raise the error
a.discard(6)
print(a)
# using pop - time - o(n), space - o(1)
# it remove last element. But it has been any element
a.pop()
print(a)
# clear - empty the set, time - o(1), space-o(1)
a.clear()
print(a)
#--------------------------------
# loop through in set
for I in b:
    print(I)
#--------------------------------
# join sets
# union - join all items both in the set
# time - o(n+m), space - o(1)
set1 = {1,2,3,4,5}
set2 = {3,2,4,'a',6,7}
set3 = set1.union(set2)
print(set3)
# also use | operator
set4 = set1|set2
print(set4)
# we can use join set & tuple. Update method also same like
#--------------------------------
# intersection - return the set both item present in the 2 sets
set5 = set1.intersection(set2)
print(set5)
set6 = set1&set2
print(set6)
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set
#--------------------------------
# difference - different values in set.
set7 = set1.difference (set2)
print(set7)
set8 = set1 - set2
print(set8)
#The difference_update() method will also keep the items from the first set that are not in the other set
#---------------------------------
# symetric difference - not present in the both set
set9 = set1.symmetric_difference(set2)
print(set9)
set10 = set1 ^ set2
print(set10)
#---------------
# disjoint - return True if both two set have different values
set1.isdisjoint(set2)
#issubset - return True set 1 items present in set2
print(set1.issubset(set2))
print(set1<=set2)
# issuperset - return true if set 2 have all in set1
set1.issuperset(set2)
set1 >= set2

{1, 2, 3}
<class 'set'>
3
{1, 2, 3, 4}
yes
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 'name'}
{1, 2, 3, 4, 6, 7, 8, 'name'}
{1, 2, 3, 4, 7, 8, 'name'}
{2, 3, 4, 7, 8, 'name'}
set()
1
2
3
4
{1, 2, 3, 4, 5, 6, 7, 'a'}
{1, 2, 3, 4, 5, 6, 7, 'a'}
{2, 3, 4}
{2, 3, 4}
{1, 5}
{1, 5}
{1, 5, 6, 7, 'a'}
{1, 5, 6, 7, 'a'}
False
False

False

# Dictionaries

Dictionaries is the one the collection in the python. It was the key pair value. It's ordered and changeable and does not allow duplicate. Before 3.6 it's unordered. It's written by {}.

Time - o(n)

space - o(n)

In [ ]:

dict1 = {'name':'ayyan', 'place':'sabarimala'}
print(dict1)
# length
print(len(dict1))
#type
print(type(dict1))
# to access dict values
print(dict1['name'])
# create dict using constructor
dict2 = dict(name = 'kandhan', place= 'Tiruchendur')
print(dict2)
# access dictionary items - time o(1), space - o(n)
# we can accessing dictionary items refering keys
print(dict2['name'])
# using get method
print(dict2.get('place'))
# time - o(n), space - o(1)

# keys() - get the keys in dictionary
print(dict1.keys())
# time - o(n), Space - o(n)

# values() - get the values
print(dict1.values())
# time - o(n), space - o(n)

# items() - The items() method will return each item in a dictionary, as tuples in a list
print(dict1.items())
# time - o(n) , space - o(n)

# check if key is exisit
if 'name' in dict1:
   print("yes")

# change the dict values
dict2['place'] = 'palani'
print(dict2)

# using update method
# time - o(k), space - o(k)
dict2.update({'name':'murugan'})
print(dict2)

# add dictionary items
dict2['s/o'] = 'sivan'
print(dict2)
dict2.update({'nickname':'subramanyam'})
print(dict2)

#Remove dictionary items
# pop method = time = o(1), space = o(1)
print(dict2.pop('s/o'))
print(dict2)

# popitem() - remove last item
dict2.popitem()
print(dict2)

#del - delete value using key
del dict2['place']
print(dict2)

# totally delete
# del dict2

# clear method
dict2.clear()
print(dict2)

# looping

for i in dict1:
   print(i)

for k in dict1.keys():
    print(k)

for k, v in dict1.items() :
    print(k , v)

for v in dict1.values():
    print(v)

for i, k in enumerate(dict1.values()) :
    print(i)
    print(k)


# convert dict to str
print(type(repr(dict1)))

# copy the dict - o(n), o(n)
dict2 = dict1.copy()
print(dict2)
# using also dict constructor
dict3 = dict(dict1)
print(dict3)

# nested dictionary
# a dict contains dict
nest_dict = {'name':'arjun', 'mark':{'tamil':100,'english':90}}
print(nest_dict)
print(nest_dict['mark']['tamil'])

{'name': 'ayyan', 'place': 'sabarimala'}
2
<class 'dict'>
ayyan
{'name': 'kandhan', 'place': 'Tiruchendur'}
kandhan
Tiruchendur
dict_keys(['name', 'place'])
dict_values(['ayyan', 'sabarimala'])
dict_items([('name', 'ayyan'), ('place', 'sabarimala')])
yes
{'name': 'kandhan', 'place': 'palani'}
{'name': 'murugan', 'place': 'palani'}
{'name': 'murugan', 'place': 'palani', 's/o': 'sivan'}
{'name': 'murugan', 'place': 'palani', 's/o': 'sivan', 'nickname': 'subramanyam'}
sivan
{'name': 'murugan', 'place': 'palani', 'nickname': 'subramanyam'}
{'name': 'murugan', 'place': 'palani'}
{'name': 'murugan'}
{}
name
place
name
place
name ayyan
place sabarimala
ayyan
sabarimala
0
ayyan
1
sabarimala
<class 'str'>
{'name': 'ayyan', 'place': 'sabarimala'}
{'name': 'ayyan', 'place': 'sabarimala'}
{'name': 'arjun', 'mark': {'tamil': 100, 'english': 90}}
100

# Conditional Statement

### 1) If - check the condition is True

### 2) Elif - if Condition false another option

### 3) Else - If conditions False check the else condition

### 4) Nested If - it has inner if condition

### 5) short hand if - it was one line statement

### 6) short hand if else - it was one line statement

### 7) and - both conditions are true

### 8) or - any one was true

### 9) NOT - reverse the result

### 10) Pass - is used to some place holder

### 11) break - break the loop

### 12) continue - we can skip the current iteration. Like skip.

In [ ]:
# if statement
a = 10
b = 20
c = 30

if a < b:
   print("correct")

# if else
if a > b:
   print('wrong')
else:
   print('correct')

# if - elif
if a > b:
   print('nallala')
elif b < c:
   print('nalaruku')

# nested if
if a < b :
   if b < c :
      print('ok')
   else :
      print('ok illa')

# short handed if
if a < b : print('helo')

# short hand if else
print('hellow1')  if a > b  else print('hellow2')

# and
if a < b and b < c :
   print("True")
# or
if a < b or b > c :
   print("True")
# Not
if not a > b :
   print("True")

# pass
if a < b :
   pass

correct
correct
nalaruku
ok
helo
hellow2
True
True
True

# Python Loops

In python has two primitive loops

1) While loop - execute the set of condition while the condition is true

2) For loop - execute the loop while range is complete


Time -  o(n)

Space - o(n)

In [ ]:
# while loop
i = 1
while i < 8:
  print(i)
  i+=1

# while with break
i = 2
while i < 10:
   print("\n",i)
   if i == 8:
      break
   i += 1

# while with continue.
i = 5
while i < 100:
   print(i)
   i += 5
   if i == 50:
      continue

# while loop with else

i = 0
while i < len('nanban'):
    print(i)
    i += 1
else:
    print("completed")

1
2
3
4
5
6
7

 2

 3

 4

 5

 6

 7

 8
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
0
1
2
3
4
5
completed

In [ ]:
# for loop

for i in 'ayyan':
    print(i)

# for loop with continue
for i in (2,4,65,78,90,100,108) :
    if i % 2 == 0:
       continue
    print(i)

# for loop with break
for i in 'hayabuza':
    print(i)
    if i == 'b':
       break

# range function - is used to specified no of times
for i in range(10) :
    print(i)
for i in range(1, 10):
    print(i)

# nested loop
for i in [2,3,4, 5,6]:
    for j in [1,2,3,4,5]:
        print(i ** j)

# with else
for i in range(5):
    print(i)
else:
    print('complete')

a
y
y
a
n
65
h
a
y
a
b
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
2
4
8
16
32
3
9
27
81
243
4
16
64
256
1024
5
25
125
625
3125
6
36
216
1296
7776
0
1
2
3
4
complete

# Function

Function is the set of code was run when it's called.

We can pass the data. It was called arguments. We can return the data as result.

function was defining as def keyword.

In [ ]:
def print_func():
   print('swami saranam')

print_func()

# if return the result using return keyword
def print_fun() :
    return "swami ayyan ayyappan"

print(print_fun())

swami saranam
swami ayyan ayyappan

# Aruguments

we can pass the data into the function it's called as argument.

parameter (or) arguments was used for same thing .


parameter was the variable listed inside the parantheses

Arguments is the value that was sent to the func when it's called

# keyword arguments

This way we can send the data as key value pair. Order of the argument does not matter.

In [ ]:
def print_det(name, place):
    print("swami {} was lived in {}.".format(name, place))

print_det("ayyappan","sabarimala")


def print_det2(name, address, rank):
    print("{} was lived in {}.His rank was {}".format(name, address, rank))

print_det2(address = 'chennai', name = 'ragu', rank =90)

swami ayyappan was lived in sabarimala.
ragu was lived in chennai.His rank was 90

# arbitrary arguments (*args)

if we don't know the count of the arguments we use that *args.we can use any name of argument but we used prefix *.

it return the data into the function as a tuple

# keyword arbitrary arguments (*kwargs)
if we don't know the count of the keywords arguments we use that **kwargs.we can use any name of argument but we used prefix **.

It return dictionary of data.

In [ ]:
def print_details(*det) :
    print("{} nayaga {} mel eri vaa".format(det[0], det[1]))

print_details('sabarimalai', 'puli')


def print_detkeywords(**detkey):
    print("His name was {} and his age{} he studied at{}".format(detkey['name'],detkey['age'], detkey['std']))

print_detkeywords(name = "ayyan", age = 15, std = "10th")

# default argument
def prin_hello(name, age = 30) :
    print("{} was {}".format(name, age))

prin_hello("arun")

# passing iterable obj , we can use any iterable.

def iter_func(list1) :
    for i in list1:
        print(i*i)

iter_func([1,2,3,4,5,6])

# passing function as a parameter

def apply_operation(func, a, b):
    return func(a, b)

def add(x, y):
    return x + y

print("output:", apply_operation(add, 2, 3))  # Output: 5

sabarimalai nayaga puli mel eri vaa
His name was ayyan and his age15 he studied at10th
arun was 30
1
4
9
16
25
36
output: 5

# Recursion

A function call itself is called recursion

In [ ]:
def recursion(n) :
    if n == 0:
       return 1
    else:
        return n * recursion(n-1)

print(recursion(5))

120
['bannana']
[{'apple': 50}, {'bannana': 60}, {'citrus': 70}]

# lambda

lambda is the anonymous function defined as lambda keyword.

A lambda function can take any number of arguments, but can only have one expression.

syn: lambda arguments : expression


lambda was used in python higher order function

1) map

2) sorted

3) filter

4) reduce

In [ ]:
 x = lambda a : a+ 10
print(x(5))

#--------------
print((lambda x, y : x ** y)(10,12))
#--------------
# map - that applies a given function to each item in an iterable (e.g., list, tuple) and returns a map object (an iterator).
li = [1,2,3,4,5]
x1 = list(map(lambda x : x ** 2,li))
print(x1)

li1 = {"a":20,"b":30,"c":40,"d":50,"e":60,"f":80}
x2 = list(map(lambda x : x * 2,li1.values()))
print(x2)
# ----------------
# sorted
data = [{"bannana": 60}, {"citrus": 70}, {"apple": 50}]
sorted_data = sorted(data, key=lambda x: list(x.keys())[0])
print(sorted_data)
#--------------------
# filter - filter the element in the iterable
data1 = [2,3,4,10,15,16,18,20]
filter_data = list(filter(lambda x: x% 2 == 0,data1))
print(filter_data)
#--------------------
# reduce - applies a function cumulatively, combining elements step by step to reduce the iterable to a single result.
from functools import reduce
li3 = [1,2,3,4,5]
red_data = reduce(lambda x, y: x*y, li3)
print(red_data)

15
1000000000000
[1, 4, 9, 16, 25]
[40, 60, 80, 100, 120, 160]
[{'apple': 50}, {'bannana': 60}, {'citrus': 70}]
[2, 4, 10, 16, 18, 20]
120